body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  margin: 0;
  padding: 20px;
  text-align: center;
}

h1 {
  color: #333;
}

.add-employee-form {
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  margin: 0 auto;
}

input[type="text"],
input[type="date"],
input[type="text"],
select {
  width: calc(100% - 22px);
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: #28a745;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

button:hover {
  background-color: #218838;
}

a {
  display: inline-block;
  text-align: center;
  margin-top: 20px;
  display: inline-block;
  padding: 10px 20px;
  margin: 5px;
  text-decoration: none;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.add-button {
  background-color: #4caf50;
}

.back-button {
  background-color: #90b691;

}

a:hover {
  text-decoration: underline;
}